.carousel-indicators{
    opacity: .5;
    width: 100%;
    text-align: center;
}

.carousel-indicators a{
    margin: 5px;
}
.carousel .prev{
    background: transparent;
    position: absolute;
    top: 0 !important;
    left: 0;
    height: 100%;
    border:none;
}
.carousel .next{
    background: transparent;
    position: absolute;
    top: 0 !important;
    right: -4px;
    height: 100%;
    border:none;

}

.carousel .prev:hover, .carousel .prev:focus{
    background: -moz-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.carousel .next:hover, .carousel .next:focus{
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 */
}

.carousel .prev i, .carousel .next i{
   font-size: 20px;
}

